

body {
    width: 1000px;
    border: 1px solid green;
    margin: 0 auto;
    
}

.name {
    border: 1px solid red;
    padding: 10px;
}
.info {
    display: flex;
}
.contact {
    display: inline-block;
    border: 1px solid blue;
    padding: 10px;
}
.personal-details {
    display: inline-block;
    border: 1px solid yellow;
    padding: 10px; 
    padding-right: 80px; 
}

.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;  
   
}
.avatar img {
    width: 250px;
  
    
}
